env/
.idea/
.vscode/

.DS_Store
python_env/

0002_auto_20210104_1635.cpython-39.pyc
MainApp/migrations/__pycache__/0003_auto_20210104_1700.cpython-39.pyc/
bullet/__pycache__/
MainApp/__pycache__/
MainApp/migrations/__pycache__/
accounts/__pycache__/

db.config
