{% extends 'base.html' %} {% block title %} {% endblock %} {% block content %} {{ block.super }}
<section class="listy">
    <div class="form-container">
        <h1>Oferty</h1>
        {% if ads %}
        <table class="table table-dark table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Marka</th>
                    <th>Punkt początkowy</th>
                    <th>Punkt docelowy</th>
                    <th>Ilość osób</th>
                    <th>Cena</th>
                </tr>
            </thead>
            <tbody>
                {% for ad in ads %}
                <tr>
                    <th scope="row" class="bg-primary">{{ forloop.counter }}</th>
                    <td class="text-center">
                        {{ ad.car_model }}
                    </td>
                    <td>{{ ad.departure_street }} {{ ad.departure_home }}, {{ ad.departure_postcode }}</td>
                    <td>{{ ad.arrival_street }} {{ ad.arrival_home }}, {{ ad.arrival_postcode }}</td>
                    <td class="text-right">{{ ad.seats }}</td>
                    <td class="text-right">{{ ad.price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Brak ofert</p>
        {% endif %}
    </div>

</section>

{% endblock %}