{% extends 'base.html' %} {% block title %} {% endblock %} {% block content %} {{ block.super }}

<div class="container-dodaj " id="dodaj">

    <div class="form-container">
        <h1>Wypełnij formularz</h1>
        <form action="{% url 'create_passenger_ad' %}" method="post">
            {% csrf_token %} {{ form.as_p }}
            <div class="command-panel">
                <button class="btn" type="submit">Zapisz</button>
                <button class="btn" type="button" onclick="history.back()">Powrót</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}