{% extends 'MainApp/layout.html' %} {% block title %} {% endblock %} {% block content %}
<header id="header">
    <a class="logo" onclick="document.location='about'"><img alt="" src="../static/MainApp/img/pula.png"></a>
    <ul class="hed-list">
        <li>
            <a onclick="document.location='about'">Co to jest?</a>
        </li>
        <li>
            <a onclick="document.location='obecne'">Obecne przejazdy</a>
        </li>
        <li>
            <a onclick="document.location='oferta'">Oferty</a>
        </li>
        <li>
            <a onclick="document.location='dodaj'">Dodaj ofertę</a>
        </li>
        <li>
            <a onclick="document.location='account'">Moje konto</a>
        </li>

    </ul>

</header>
<form method="post">
    {% csrf_token %}
    <div class="dodajKierowca">

        <div class="Kierowca">
            <h1>Wypełnij formularz</h1>
            <label for="date"><b>Data wyjazdu:</b> </label>
            <input type="date" id="date" name="date" required>
            <label for="appt"><b>O której godzinie:</b> </label>
            <input type="time" id="appt" name="appt" required>
            <label for="text"> <b>Punkt początkowy:</b> </label>
            <input type="text" id="text" required>
            <label for="text"> <b>Punkt docelowy:</b> </label>
            <input type="text" id="text" required>
            <label for="quantity"><b>Ilość miejsc:</b></label>
            <input type="number" id="quantity" name="quantity" required>
            <label for="text"> <b>Marka samochodu:</b> </label>
            <input type="text" id="text" required>
            <label for="quantity"><b>Cena:</b></label>
            <input type="number" id="quantity" name="quantity" required>
            <label for="text"> <b>Komentarz:</b> </label>
            <input type="text" id="text" required>
            <button type="submit" class="submit">Dodaj nową ofertę</button>
        </div>
    </div>
</form>
{% endblock %}